* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 2.5vh;
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button_mainPage {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 10px;
    left: 10px;  
    color: #bd3035;
    text-decoration: none;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}

.button_mainPage:hover {
    background-color: #fff;
}


h1 {
    font-size: 50px;
    color: #fff;
}

h2 {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid #bd3035;
    color: #bd3035;
}

.redText {
    color: #bd3035;
}

.greenText {
    color: #3E933E;
}

.container {
    margin: 20px 0;
    padding: 20px;
    min-width: 60%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.5s all;
}

.container:hover {
    background-color: rgba(255, 255, 255, 1);
}

table {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 2vh;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px #bd3035;
}
th {
    padding: 10px 8px;
    background: #fff;
    font-size: 2.2vh;
}

th::first-letter {
    text-transform: uppercase;
}

table th:first-child {
    border-top-left-radius: 20px;
}
table th:last-child {
    border-top-right-radius: 20px;
}
td {
    border-top: 10px solid #bd3035;
    padding: 8px;
    background: #fff;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}