* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1, body > p {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 50px;
}

body > p {
    font-size: 20px;
}

img {
    max-height: 200px;
    max-width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    width: 26%;
    transition: 0.5s all;
    padding: 10px;
}

.card:hover {
    transform: scale(1.1);
}

h2 {
    color: #bd3035;
}

a {
    color: #bd3035;
    text-decoration: none;
    border-bottom: 3px solid #bd3035;
}

a:hover {
    opacity: 0.8;
}